<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercicio Flask</title>
</head>
<body>
    <h1>Fabrica de Programadores</h1>
    <p>Prefeitura de Santana de Parnaiba</p>
    <br>
    <!-- Criamos um formulario com label, input e button -->
    <form action="{{url_for('index')}}" method="POST">
        <label for="nome">Digite o primeiro numero:</label>
        <input type="text" name="num1">
        <br>
        <label for="nome">Digite o segundo numero:</label>
        <input type="text" name="num2">
        <button type="submite">Enviar</button>
    </form>
</body>
</html>